<div class="hero py-32 bg-base-200">
	<div class="hero-content flex-col lg:flex-row-reverse">
		<img src="{{ asset('profile.jpeg') }}" class="max-w-xl rounded-lg shadow-2xl"/>
		<div>
			<h1 class="text-5xl font-bold">Le blog de TotoBlog</h1>
			<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
			<button class="btn btn-primary">Get Started</button>
		</div>
	</div>
</div>
