<div class="navbar bg-base-100">
	<div class="flex-1">
		<a href="/" class="btn btn-ghost normal-case text-xl">TotoBlog</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
		{% if app.user %}
			<li>
				<a href="{{ path('app_create') }}">Create</a>
			</li>
		{% endif %}
		<li>Toto</li>
			
			<li>
				<a href="/{{ app.user ? 'logout': 'login' }}">
					{{ app.user ? 'Déconnexion': 'Connexion' }}
				</a>
			</li>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    						{{app.user.email}}

			{% endif %}
		</ul>
	</div>
</div>
