<div class="navbar bg-base-100">
	<div class="flex-1">
		<a href="/" class="btn btn-ghost normal-case text-xl">TotoBlog</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<li>
				<a href="{{ path('app_create') }}">Create</a>
			</li>
			<li>
				<a>Item 3</a>
			</li>
		</ul>
	</div>
</div>
