{% extends 'base.html.twig' %} 
{% block title %} Hello BlogController! {% endblock %} 
{% block body %}
<div class="example-wrapper">
	<h1 class="title">Create Post</h1>
	<!-- 1: methode 1 -->
	{# {{ form(form) }} #} 

	<!-- 1: methode 2 -->

	<div class="max-w-sm mx-auto">
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_widget(form) }}
		<div class="mt-5">
			<input type="submit" value="Envoyer" class="btn btn-secondary" />
		</div>
		{{ form_end(form) }}
	</div>

</div>

{% endblock %}