{% extends 'base.html.twig' %}

{% block title %}Toto
{% endblock %}

{% block body %}
	<?php 
    $toni = 5;
?>
	<div class="example-wrapper p-20">
		<h1 class="text-green-500 text-3xl">Nos derniers articles</h1>
		{% include 'partials/_card.html.twig' %}

		{# {% include 'components/card.html.twig' with {'title': post.title, 'content': post.content}|raw %} #}

	</div>
{% endblock %}
